<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户使用协议</title>

    <style>
        p {
            text-indent: 2em;
            font-size: 20px;
        }
    </style>
</head>
<body>

<!--<p style="font-size: 20px">用户使用协议</p>-->
<p>异趣APP（以下简称“APP”或“平台”）致力于为用户提供休闲娱乐服务。</p>

一、 声明与承诺
<p>
    （一）《异趣APP用户使用协议》（以下简称“本协议”）可能对与您的权益有或可能具有重大关系的条款，协议中具有或可能具有免责或限制责任的条款请您注意阅读，请您务必审慎阅读、充分理解各条款内容。您确认，在您注册成为平台用户以接受本服务之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用平台，即表示您已阅读并同意签署、遵循本协议。</p>
<p>
    （二）您同意，平台有权随时对本协议内容进行单方面的变更，并以在平台公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用APP，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用APP；若您不接受修改后的协议内容，您应停止使用本APP。</p>
<p>
    （三）您声明，在您同意接受本协议并注册成为APP用户时，您是具有法律规定的完全民事权利能力和民事行为能力，能够独立承担民事责任的自然人，或者是在中国大陆地区合法开展经营活动或其他业务的法人或其他组织；本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的您应立即终止注册或停止使用APP。</p>

二、APP账号
<p>（一） 注册相关</p>
<p>在使用平台前，您必须先行注册或认证，取得平台提供给您的用户账号及相应密码（以下亦简称该账号），您同意：</p>
<p>
    1、依平台注册认证表之提示准确提供并在取得该账号后及时更新您的正确、最新及完整的资料。若有合理理由怀疑您提供的资料错误、不实、过时或不完整的，平台有权暂停或终止向您提供部分或全部平台服务。平台对此不承担任何责任，您将承担因此产生的任何直接或间接支出。若因国家法律法规、部门规章或监管机构的要求，平台需要您补充提供任何相关资料时，如您不能及时配合提供，平台有权暂停或终止向您提供部分或全部app服务。</p>
<p>2、因您未及时更新资料，导致平台无法提供或提供时发生任何错误，您不得将此作为取消交易的理由，您将承担因此产生的一切后果，平台不承担任何责任。</p>
<p>3、您应对您的平台账号负责，只有您本人可以使用您的平台账号，该账号不可转让、不可赠与、不可继承。在您决定不再使用该账号时，您应向平台申请注销该账号。</p>
<p>4、您同意，若您丧失全部或部分民事权利能力或民事行为能力，平台有权根据有效法律文书（包括但不限于生效的法院裁判文书、生效的遗嘱等）处置与您的平台账号相关的个人资产。</p>
<p>5、此外，在您注册和登录过程中，经过您的授权，我们将会收集和处理您的个人的设备信息（包括设备名称、设备型号、设备识别码和应用程序版本等）。</p>
<p>（二）实名认证
<p>为了提高信用信息访问及查询的安全性和用户身份的可信性，本APP后期准备向您提供实名认证服务。</p>

<p>（三） 账号安全</p>
<p>您将对使用该账号及密码进行的一切操作及言论负完全的责任，您同意：</p>
<p>
    1、只有您本人可以使用您的平台账号，平台通过您的账号名和密码识别您的指示，您应当妥善保管您的账号名和密码，该账号不可转让、不可赠与、不可继承。对于因密码泄露所致的损失，由您自行承担。平台亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备，对于这些产品或设备遗失所致的任何损失，由您自行承担。</p>
<p>
    2、如您发现有他人冒用或盗用您的账号及密码或任何其他未经合法授权之情形时，应立即以有效方式通知平台，要求平台暂停相关服务。同时，您理解平台对您的请求采取行动需要合理期限，在此之前，平台对已执行的指令及(或)所导致的您的损失不承担任何责任。</p>

<p> 3、您同意，基于运行和交易安全的需要，平台可以暂时停止提供或者限制平台部分功能,或提供新的功能，在任何功能减少、增加或者变化时，只要您仍然使用平台服务，表示您仍然同意接受本协议或者变更后的协议。</p>
<p>
    4、您同意，为了您的平台账号及其信息的安全，根据本协议的约定、法律法规及法律文书的规定、政府依行政职权的要求及平台依据自行判断认为的可能对您的平台账号产生风险的情况，平台有权对您的平台账号进行冻结，即进行暂时关闭该账号部分或全部使用权限的操作。冻结的逆过程为解冻，即平台对您的被冻结的平台账号结束冻结。当冻结发生时，如您申请解冻，平台有权依照自行判断根据本项规定前述的冻结原因来决定是否允许解冻，您应充分理解您的解冻申请并不必然被允许，且申请解冻时您应当配合平台核实身份的有关要求，提供包括但不限于身份信息、身份证、户口本、其他有效的身份证明文件及平台要求的其他信息或文件。</p>
<p> 5、您同意，平台有权按照包括但不限于公安机关、检察机关、法院、海关、税务机关等司法机关、行政机关、军事机关的要求对您在平台账号及个人信息和资产等进行查询、冻结。</p>

<p>（四）账号换绑相关</p>
<p>因个人原因需要换绑手机时您可以在用户设置页面选择换绑手机，在换绑手机前您同意:</p>
<p>1、您所换绑的账号应当是您依照本协议的约定注册并由平台提供给您本人的账号。您应当依照平台规定的程序进行平台账号换绑。</p>
<p>2、您重新绑定的新手机号应该是您本人使用的手机号，若重新绑定的新手机号非您本人使用的手机号，造成的账号丢失、信息泄露等问题，本公司以及合作公司不承担责任。</p>
<p>3、为了您的账号安全，您同意：在您使用换绑成功后，原有账号将无法登陆。</p>
<p>（五）注销相关</p>
<p>在需要终止使用平台服务时，您可以申请注销您的平台账号，在注销账号前您同意:</p>
<p>1、您所申请注销的平台账号应当是您依照本协议的约定注册并由平台提供给您本人的账号。您应当依照平台规定的程序进行平台账号注销。</p>
<p>2、平台账号注销将导致平台终止为您提供平台服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外）。</p>
<p>3、您可以通过自助或者人工的方式申请注销平台账号，但如果您使用了平台提供的安全产品，应当在该安全产品环境下申请注销。</p>
<p>
    4、您申请注销的平台账号应当处于正常状态，即您的平台账号的账号信息和用户信息是最新、完整、正确的，且该账号可以使用所有平台服务功能的状态。账号信息或用户信息过时、缺失、不正确的账号或被冻结的账号不能被申请注销。如果您的账号在连续3年内没有任何账号操作行为，且满足本协议规定的其他注销条件时，平台有权依照本协议的规定或国家相关法律法规的要求主动进行注销，由此引发的一切后果由您本人承担。</p>
<p>5、您申请注销的平台账号应当不存在任何由于该账号被注销而导致的未了结的合同关系与其他基于该账号的存在而产生或维持的权利义务，及平台认为注销该账号会由此产生未了结的权利义务而产生纠纷的情况。</p>
<p>6、您申请注销的平台账号一旦注销成功，将不再予以恢复。</p>

三、使用规则
<p>为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：</p>
<p>（一）一旦您使用平台服务，您即授权平台代理您在您及（或）您指定人符合指定条件或状态时，显示您的个人信息，同时平台有权从相关部门获取您的相关信息。</p>
<p>
    （二）平台会以手机的短信或电话等方式通知您操作进度或交易进展情况以及提示您进行下一步的操作，但平台不保证您能够收到或者及时收到短信或电话，且不对此承担任何后果，因此，在操作或交易过程中您应当及时登录到本网站查看和进行操作。因您没有及时查看和对操作状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，平台不负任何责任。
<p>（三）您使用平台服务进行交易时，您即授权平台将您的个人信息和交易信息披露给与您交易的另一方或您登录的网站，该信息包括但不限于：您的真实姓名、联系方式、信用状况、平台账号。</p>
<p>（四）您不得将平台服务用于非平台许可的其他用途。</p>
<p>（五）交易风险平台账号。</p>
<p> 1、在使用平台服务时，若您或您的交易对方未遵从平台服务条款或网站说明、交易页面中之操作提示、规则，则平台有权拒绝为您与交易对方提供相关服务，且平台不承担损害赔偿责任。</p>
<p> 2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照提示操作，未及时进行操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。</p>

四、使用限制
<p>（一）您在使用平台服务时应遵守中华人民共和国相关法律法规、您所在国家或地区之法令及相关国际惯例，不将平台服务用于任何非法目的（包括用于禁止或限制的交易），也不以任何非法方式使用平台服务。</p>
<p>（二）您不得利用平台服务从事侵害他人合法权益之行为，否则平台有权拒绝提供平台服务，且您应承担所有相关法律责任，因此导致平台或平台雇员受损的，您应承担赔偿责任。上述行为包括但不限于：</p>
<p> 1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</p>
<p> 2、违反依法定或约定之保密义务。</p>
<p> 3、冒用他人名义使用平台服务。</p>
<p> 4、从事不法交易行为，如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他平台认为不得使用平台服务进行交易的物品等。</p>
<p> 5、提供赌博资讯或以任何方式引诱他人参与赌博。</p>
<p> 6、非法使用他人银行账号（包括信用卡账号）或无效银行账号（包括信用卡账号）交易。</p>
<p> 7、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。</p>
<p> 8、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</p>
<p> 9、其他平台有正当理由认为不适当之行为。</p>
<p>（三）您理解并同意，平台不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿(无论平台是否已被告知该等损害赔偿的可能性)：</p>
<p> 1、平台有权基于单方判断，包含但不限于平台认为您已经违反本协议的明文规定及精神，暂停、中断或终止向您提供平台服务或其任何部分，并移除您的资料。</p>
<p> 2、平台在发现异常交易或有疑义或有违反法律规定或本协议约定之时，有权不经通知先行暂停或终止该账号的使用（包括但不限于对该账号名下的资产和在途交易采取取消交易、调账等限制措施），并拒绝您使用平台服务之部分或全部功能。</p>
<p> 3、在必要时，平台无需事先通知即可终止提供平台服务，并暂停、关闭或删除该账号及您账号中所有相关资料及档案，并将您滞留在该账号的全部合法资产进行冻结。</p>
<p>（四）如您需要注销您的平台账号，应先经平台审核同意。平台注销该账号，即表明平台与您之间的协议已终止，但您仍应对您使用本服务期间的行为承担可能的违约或损害赔偿责任，同时平台仍可保有您的相关信息。</p>
<p>（五） 您在使用本服务平台时，除应遵守本服务协议约定外，如您使用平台提供链接到外部网站，仍应遵守外部网站的相关规定，并受其约束。</p>

五、隐私权保护
<p>一旦您同意本协议或使用平台，您即同意平台按照以下条款来使用和披露您的个人信息。</p>
<p>（一）账号名和密码</p>
<p>
    在您认证为平台用户时，我们会要求您设置个人姓名及身份证号码来识别您的身份。如果您泄漏了密码，您可能会丢失您的个人识别信息，并可能导致对您不利的法律后果。该账号和密码因任何原因受到潜在或现实危险时，您应该立即和平台取得联系，在平台采取行动前，平台对此不负任何责任。</p>
<p>（二） 认证信息</p>
<p>
    您认证该账号时应向平台提供您的真实姓名、身份证号码等国家法律法规要求的信息，您还可以选择来填写相关附加信息（包括但不限于您的联系地址、手机号码、邮箱地址、职业等）。为有针对性地向您提供新的服务和机会，您了解并同意平台及其关联的政府机构或部门，或您登录的其他网站将通过您的电子邮件地址或该手机向您发送相关通知。</p>
<p>（三） 数据统计 平台会对平台用户的身份数据进行综合统计，并出于政府机构或部门统计或商业奖励的需要使用或披露。</p>
<p>（四）Cookie的使用及设备软硬件配置信息的收集</p>
<p>您了解并同意，平台使用cookie来使平台对用户更友好（它可以帮您省去为使用我们的平台而重复输入注册信息和跟踪您的浏览器的状态），同时，平台会收集由您设备的软硬件配置信息生成的特征信息，用于标识您的设备，以便更好地为您服务。</p>
<p>（五）除本协议另有规定外，平台不对外公开或向第三方提供您的信息，但以下情况除外：</p>
<p>1、事先获得您的明确授权；</p>
<p>2、只有披露您的个人资料，才能提供您需要的产品和（或）服务；</p>
<p>3、按照本协议的要求进行的披露；</p>
<p>4、根据法律法规的规定；</p>
<p>5、按照政府主管部门的要求；</p>
<p>6、为维护平台及其关联政府机构或部门的合法权益；</p>
<p>7、您使用平台账号成功登录过的其他网站；</p>
<p>8、对您的身份真实性进行验证。</p>
<p>（六） 信息的存储和交换</p>
<p>您的信息和资料存储在位于中国的服务器上，为了备份的需要，平台可能将您的信息和资料储存到政府相关机构或部门的服务器上。</p>
<p>（七） 外部链接</p>
<p>平台含有到其他网站的链接，但平台对其他网站的隐私保护措施不负任何责任。平台可能在任何需要的时候增加政府部门、机构或商业伙伴或共用品牌的网站。</p>
<p>（八）安全</p>
<p>平台仅按现有技术提供相应的安全措施来使平台掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其它服务器备份数据和对用户密码加密。平台尽量保证这些信息的安全。</p>

六、系统中断或故障
<p>系统因下列状况无法正常运作，使您无法使用各项功能时，平台不承担损害赔偿责任，该状况包括但不限于：</p>
<p>（一）平台之系统停机维护期间。</p>
<p>（二）电信设备出现故障不能进行数据传输的。</p>
<p>（三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成平台系统障碍不能执行业务的。</p>
<p>（四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>

七、责任范围及责任限制
<p>（一）平台对本协议中列明的责任承担范围负责。</p>
<p>平台之系统停机维护期间。</p>
<p>（二）平台不提供任何形式的保证，包括但不限于以下事项：</p>
<p>1、平台符合您的需求。</p>
<p>2、平台不受干扰、及时提供或免于出错。</p>
<p>（三）平台之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p>
<p>（四）您经平台使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</p>
<p>（五）您经，无论其为书面或口头形式，均不构成平台对本服务之保证。</p>
<p>
    （六）在法律允许的情况下，平台对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除平台对上述损失的责任。</p>

八、商标、知识产权的保护
<p>（一）平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由平台运营者依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。
<p>（二）非经平台运营者书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表平台或内容。</p>
<p>（三）尊重知识产权是我们应尽的义务，本应用中如有涉及侵权问题，请及时联系我们，我们确认后将及时作出调整和修改。</p>

九、法律适用与管辖
<p>（一）本协议的最终解释权归本应用提供者所有。 </p>
<p>（二）因本协议产生之争议，均应依照中华人民共和国法律予以处理。</p>

隐私声明
<p>一旦您同意本协议或使用平台，您即同意平台按照以下条款来使用和披露您的个人信息。

    一、我们如何收集您的信息
<p>（一）帮助您成为本应用的用户</p>
<p>成为我们的实名用户，需要您提供您的手机号码、姓名、身份证信息、或能证明身份的其他信息、创建账号和密码，您通过实名认证后将使用您的姓名、身份证号码查询相关的服务。
    为保证应用正常运行，需要您允许访问手机地理位置权限、允许存储权限、相机权限。
    在您使用第三方服务或产品时，我们会向您询问是否同意授权第三方获取相应的个人信息，包括但不限于用户名、姓名、手机号、实名状态，您可根据自己的意愿选择使用或拒绝授权。</p>
<p>（二）向您提供产品或服务</p>
<p>您向我们提供的的信息在您使用特定服务前，我们还需要您提供必要的信息才能使您完成服务的使用。</p>

二、我们如何使用您的信息
<p>收集您的信息是为了向您提供服务及提升我们的服务质量，为了实现这一目的，我们会把您的信息用于下列用途：</p>
<p>1. 向您提供，使用“本应用”产品或服务，并维护、改进、优化这些服务及服务体验；</p>
<p>2.
    为预防、发现、调查欺诈、侵权、危害安全、非法或违反与我们的协议、政策或规则的行为，保护您、其他用户或公众，我们的合法权益，我们可能使用或整合您的用户信息、服务使用信息、设备信息、日志信息以及我们合作伙伴取得您授权或依据法律共享的信息，来综合判断您账户及交易风险、进行身份验证、检测及防范安全事件，并依法采取必要的记录、审计、分析、处置措施；</p>
<p>3. 经您许可的其他用途。</p>

三、数据统计
<p>平台会对平台用户的身份数据进行综合统计。</p>

四、Cookie的使用及设备软硬件配置信息的收集
<p>您了解并同意，平台使用cookie来使平台对用户更友好（它可以帮您省去为使用我们的平台而重复输入注册信息和跟踪您的浏览的状态），同时，平台会收集由您设备的软硬件配置信息生成的特征信息，用于标识您的设备，以便更好地为您服务。

    五、除本协议另有规定外，平台不对外公开或向第三方提供您的信息，但以下情况除外：
<p>1、事先获得您的明确授权；</p>
<p>2、只有披露您的个人资料，才能提供您需要的产品和（或）服务；</p>
<p>3、按照本协议的要求进行的披露；</p>
<p>4、根据法律法规的规定；</p>
<p>5、按照政府主管部门的要求；</p>
<p>6、为维护平台及其关联政府机构或部门的合法权益；</p>
<p>7、您使用平台账号成功登录过的其他网站；</p>
<p>8、对您的身份真实性进行验证。</p>

六、安全
<p>平台仅按现有技术提供相应的安全措施来使平台掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其它服务器备份数据和对用户密码加密。平台尽量保证这些信息的安全。</p>
<p>注册使用即表示同意以上条款，使用人必须在中华人民共和国所有法律允许范围内使用本应用，本人已完全阅读并理解上述条款内容，确认无误，且同意遵守执行。</p>

七、 服务提供者
<p>免责声明：尊重知识产权是我们应尽的义务，本应用中如有涉及侵权问题，请及时联系我们，我们在确认后将及时作出相应调整和更改。</p>
<p>联系邮箱：sinothk@126.com / 381518188@qq.com</p>

</body>